// *************************************
//
// Intro
// -> Full height intro with centered content
//
// It should be placed directly under
// the body or #wrapper to make 100% height.
//
// Styleguide Intro
//
// -------------------------------------
//   Template
// -------------------------------------
//
// body
//   .intro
//     .intro-body
//
// *************************************

.l-intro {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: initial;
	background-clip: initial;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

	.jumbotron {
		background: none;
	}
}

.l-intro-body {
	display: table-cell;
	vertical-align: middle;
}
