<!-- Different types of button elements -->
<a class="btn$modifier_class" href="#" role="button">Link</a>
<button class="btn$modifier_class" type="submit">Button</button>
<input class="btn$modifier_class" type="button" value="Input">
<input class="btn$modifier_class" type="submit" value="Submit">

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn primary$modifier_class">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn success$modifier_class">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn info$modifier_class">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn warning$modifier_class">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn danger$modifier_class">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn link$modifier_class">Link</button>
