<!-- Different types of button elements -->
<a class="btn$modifier_class" href="#" role="button">Link</a>
<button class="btn$modifier_class" type="submit">Button</button>
<input class="btn$modifier_class" type="button" value="Input">
<input class="btn btn--inverse$modifier_class" type="submit" value="Submit">

<!-- Theme -->
<button type="button" class="btn btn--theme$modifier_class">Theme</button>

<!-- The highlighted action in a set of buttons -->
<button type="button" class="btn btn--highlighted$modifier_class">Highlight</button>

<!-- Greyscale buttons -->
<button type="button" class="btn btn--gray$modifier_class">Success</button>
<button type="button" class="btn btn--gray-dark$modifier_class">Success</button>
<button type="button" class="btn btn--gray-darker$modifier_class">Success</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn--success$modifier_class">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn--info$modifier_class">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn--warning$modifier_class">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn--danger$modifier_class">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn--link$modifier_class">Link</button>

<!-- Disabled button -->
<button type="button" class="btn disabled$modifier_class">Disabled</button>
