<!-- A simple container to show content composed of different types of objects, providing basic padding and background. an additional z-depth is added for visibility. -->
<div class="card z-depth-1$modifier_class">
  Hello World!
</div>

<!-- A card including content and action. -->
<div class="card z-depth-1$modifier_class">
  <div class="card-content white-text">
    <span class="card-title">Card Title</span>
    <p>Lorem ipsum dolor sit amet, consul consetetur eu pro, cu nostro efficiendi efficiantur sed. Soluta aeterno inermis mea in, has facer lobortis cu. An quis mediocrem his, sea assentior constituto theophrastus ne, omittam officiis duo id. Tollit accusam perpetua pri cu. Eu soleat regione duo, vis eripuit delicatissimi at, nominati maiestatis ea cum.</p>
  </div>
  <div class="card-actions">
    <a href="#">This is a link</a>
    <button>This is a button</button>
  </div>
</div>

<!-- A card with title image. -->
<div class="card z-depth-1$modifier_class">
  <div class="card-image">
    <img data-src="holder.js/100%x200">
    <span class="card-title">Card Title</span>
  </div>
  <div class="card-content">
    <p>Lorem ipsum dolor sit amet, ornatus insolens definitionem cu usu, quis salutatus percipitur ad pri. Enim iusto ei duo, habemus percipit maiestatis pri no. Vocent salutatus sea no. Mei accusamus dissentiunt signiferumque an. In qui posse dicat assum. Stet praesent eam eu, vitae menandri ex usu.</p>
  </div>
  <div class="card-actions">
    <a href="#">This is a link</a>
  </div>
</div>
