<form>
  <div class="form-group">
    <input type="checkbox" class="$modifier_class" id="demo-checkbox-1">
    <label for="demo-checkbox-1">Checkbox</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="$modifier_class" id="demo-checkbox-2" checked="checked">
    <label for="demo-checkbox-2">Checkbox Checked</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="filled-in$modifier_class" id="demo-checkbox-3">
    <label for="demo-checkbox-3">Filled-in Checkbox</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="filled-in$modifier_class" id="demo-checkbox-4" checked="checked">
    <label for="demo-checkbox-4">Filled-in Checkbox Checked</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="highlight filled-in$modifier_class" id="demo-checkbox-5">
    <label for="demo-checkbox-5">Highlighted Filled-in Checkbox</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="highlight filled-in$modifier_class" id="demo-checkbox-6" checked="checked">
    <label for="demo-checkbox-6">Highlighted Filled-in Checkbox Checked</label>
  </div>
</form>
