<form class="$modifier_class">
  <!-- Form group -->
  <div class="form-group">
    <label for="example-input-name-1">Name</label>
    <input type="text" class="form-control" id="example-input-name-1" placeholder="Name">
  </div>

  <div class="checkbox">
    <input type="checkbox" id="demo-form-checkbox>">
    <label for="demo-form-checkbox>">This is fine.</label>
  </div>
</form>

<form class="$modifier_class">
  <!-- Form group with validation -->
  <div class="form-group">
    <label for="example-input-email-1">Email address</label>
    <input type="email" class="form-control validate" id="example-input-email-1" placeholder="Email">
  </div>

  <!-- Password form group -->
  <div class="form-group">
    <label for="example-input-password-1">Password</label>
    <input type="password" class="form-control" id="example-input-password-1" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-default">Go</button>
</form>
