<h1>Example heading <span class="label$modifier_class">New</span></h1>
<h2>Example heading <span class="label$modifier_class">New</span></h2>
<h3>Example heading <span class="label$modifier_class">New</span></h3>
<h4>Example heading <span class="label$modifier_class">New</span></h4>
<h5>Example heading <span class="label$modifier_class">New</span></h5>
<h6>Example heading <span class="label$modifier_class">New</span></h6>
<p>Example paragraph <span class="label$modifier_class">New</span></p>
