<div class="row">
  <div class="col-lg-6">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">
        <span class="badge">14</span>
        Dapibus ac facilisis in
      </li>
      <li class="list-group-item active">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item disabled">Vestibulum at eros</li>
    </ul>
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <!-- Custom content -->
    <div class="list-group">
      <div class="list-group-item active">
        <h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading<a class="anchorjs-link" href="#list-group-item-heading"><span class="anchorjs-icon"></span></a></h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading<a class="anchorjs-link" href="#list-group-item-heading"><span class="anchorjs-icon"></span></a></h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading" id="list-group-item-heading">List group item heading<a class="anchorjs-link" href="#list-group-item-heading"><span class="anchorjs-icon"></span></a></h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </div>
    </div>
  </div><!-- /.col-lg-6 -->
</div>
