<nav class="mini-nav$modifier_class">
  <div class="container-fluid">
    <ul class="mini-nav-nav">
      <li><a>One</a></li>
      <li><a>Two</a></li>
      <li><a>Three</a></li>
    </ul>
    <ul class="mini-nav-nav mini-nav-nav--right">
      <li><a>One</a></li>
      <li><a>Two</a></li>
      <li><a>Three</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu--right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi, User <img src="https://placehold.it/100x100"> <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu--right" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
