<div class="mobile-side-nav$modifier_class" style="position: relative; height: 500px; width: 300px;">
  <div class="mobile-side-nav-menu">
    <ul class="user-menu collapse" id="mobile-nav-user-info-menu">
      <li><a><span class="icon"><i class="i-account-box"></i></span> 我的帳號</a></li>
      <li><a><span class="icon"><i class="i-view-comfy"></i></span> 我的服務</a></li>
      <li><a><span class="icon"><i class="i-settings"></i></span> 個人設定</a></li>
      <li><a><span class="icon"><i class="i-lock"></i></span> 登出</a></li>
    </ul>
    <ul>
      <li><a><span class="icon"><i class="i-domain"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-textsms"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-check-circle"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-directions-walk"></i></span> A Service</a></li>
    </ul>
    <hr>
    <div>Title</div>
    <ul>
      <li><a><span class="icon"><i class="i-accessibility"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-assistant-photo"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-card-giftcard"></i></span> A Service</a></li>
      <li><a><span class="icon"><i class="i-movie"></i></span> A Service</a></li>
    </ul>
    <hr>
    <ul>
      <li><a>A Service</a></li>
      <li><a>A Service</a></li>
      <li><a>A Service</a></li>
      <li><a>A Service</a></li>
    </ul>
  </div>
  <div class="mobile-side-nav-head mobile-user-info" style="background-image: url('https://placehold.it/800x600/e8117f/ffffff');">
    <div class="mobile-user-info-avatar"><img src="http://placehold.it/500x500"></div>

    <a class="mobile-user-info-name" data-toggle="collapse" href="#mobile-nav-user-info-menu">
      <p>User Name</p>
      <p>user@colorgy.io</p>

      <div class="mobile-user-info-toggle"></div>
    </a>
  </div>
</div>
