<form>
  <div class="form-group">
    <input name="radio-group-1" type="radio" id="test-1" checked>
    <label for="test-1">One</label>
  </div>
  <div class="form-group">
    <input name="radio-group-1" type="radio" id="test-2">
    <label for="test-2">Two</label>
  </div>
  <div class="form-group">
    <input class="with-gap" name="radio-group-1" type="radio" id="test-3">
    <label for="test-3">With Gap</label>
  </div>
  <div class="form-group">
    <input name="radio-group-1" type="radio" id="test4" disabled="disabled">
    <label for="test-4">Disabled</label>
  </div>
</form>
