<nav class="sidenav$modifier_class">
  <ul class="nav nav-stacked">
    <li class="active">
      <a>Group A</a>
      <ul class="nav nav-stacked">
        <li><a>Sub-Group 1</a></li>
        <li class="active"><a>Sub-Group 2</a></li>
      </ul>
    </li>
    <li>
      <a>Group B</a>
      <ul class="nav nav-stacked">
        <li><a>Sub-Group 1</a></li>
        <li><a>Sub-Group 2</a></li>
      </ul>
    </li>
    <li>
      <a>Group C</a>
      <ul class="nav nav-stacked">
        <li><a>Sub-Group 1</a></li>
        <li><a>Sub-Group 2</a></li>
      </ul>
    </li>
  </ul>
</nav>
