<div class="steps$modifier_class">
  <a class="steps-step">
    <div class="steps-step-title">Previous Step</div>
    <div class="steps-step-description">Description</div>
  </a>
  <a class="steps-step completed">
    <div class="steps-step-icon"><img data-src="holder.js/200x300"></div>
    <div class="steps-step-title">Previous Step</div>
    <div class="steps-step-description">Description</div>
  </a>
  <a class="steps-step active">
    <div class="steps-step-icon success"><i class="icon">settings</i></div>
    <div class="steps-step-title">Active Step</div>
    <div class="steps-step-description">Description</div>
  </a>
  <a class="steps-step disabled">
    <div class="steps-step-icon"><i class="icon">cart</i></div>
    <div class="steps-step-title">Disabled Step</div>
    <div class="steps-step-description">Description</div>
  </a>
</div>
