<div class="steps$modifier_class">
  <a class="steps-step">
    <div class="title">Previous Step</div>
    <div class="description">Description</div>
  </a>
  <a class="steps-step">
    <div class="title">Previous Step</div>
    <div class="description">Description</div>
  </a>
  <a class="steps-step active">
    <div class="title">Active Step</div>
    <div class="description">Description</div>
  </a>
  <a class="steps-step disabled">
    <div class="title">Disabled Step</div>
    <div class="description">Description</div>
  </a>
</div>
