<div class="toast$modifier_class">
  <div class="toast-content">
    <div class="toast-message">Inconceivable!</div>
  </div>
</div>

<!-- Toast with a title -->
<div class="toast$modifier_class">
  <div class="toast-content">
    <div class="toast-title">CodeSeven</div>
    <div class="toast-message">Have fun storming the castle!</div>
  </div>
</div>

<!-- Toast with actions -->
<div class="toast$modifier_class">
  <div class="toast-content">
    <div class="toast-message">It will be done</div>
  </div>
  <div class="toast-actions">
    <button type="button" class="btn primary">Cancel</button>
  </div>
</div>

<!-- Toast with two actions -->
<div class="toast$modifier_class">
  <div class="toast-content">
    <div class="toast-title">CodeSeven</div>
    <div class="toast-message">Have fun storming the castle!</div>
  </div>
  <div class="toast-actions">
    <a class="btn">Close me</a>
    <button type="button" class="btn">Surprise me</button>
  </div>
</div>
