.vertical-padding-12px {
	padding-top: 12px;
	padding-bottom: 12px;
}

.vertical-padding-20px {
	padding-top: 20px;
	padding-bottom: 20px;
}

.vertical-padding-36px {
	padding-top: 36px;
	padding-bottom: 36px;
}
