// *************************************
//
//   Tools
//   -> Global utilities
//
// *************************************

//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
	@include clearfix;
}

.center-block {
	@include center-block;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}


// Toggling content
// -------------------------

.visibility-hidden {
	visibility: hidden;
}

.text-hide {
	@include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.display-none {
	display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
	position: fixed;
}

.hover-to-transparent-background-color {

	&:hover {
		background-color: rgba(0,0,0, 0) !important;
	}
}

.bg-cover {
	background-size: cover;
	background-position: 50% 50%;
}

.bg-fixed {
	background-attachment: fixed;
}
