<!--
  This file is auto generated from the template:
    templates/icon_fonts/_icon_font.html.erb
  by Font Custom.

  Icon Font: colorgy-icons
-->

<div class="icon-font-list">
  <ul>
    
      <li>
        <span class="i-colorgy" aria-hidden="true"></span>
        <span class="icon-class">i-colorgy</span>
      </li>
    
      <li>
        <span class="i-colorgy-text" aria-hidden="true"></span>
        <span class="icon-class">i-colorgy-text</span>
      </li>
    
      <li>
        <span class="i-github" aria-hidden="true"></span>
        <span class="icon-class">i-github</span>
      </li>
    
      <li>
        <span class="i-table-blank" aria-hidden="true"></span>
        <span class="icon-class">i-table-blank</span>
      </li>
    
      <li>
        <span class="i-table-bottom-left-corner-rounded" aria-hidden="true"></span>
        <span class="icon-class">i-table-bottom-left-corner-rounded</span>
      </li>
    
      <li>
        <span class="i-table-bottom-right-corner-rounded" aria-hidden="true"></span>
        <span class="icon-class">i-table-bottom-right-corner-rounded</span>
      </li>
    
      <li>
        <span class="i-table-frame-horizontal" aria-hidden="true"></span>
        <span class="icon-class">i-table-frame-horizontal</span>
      </li>
    
      <li>
        <span class="i-table-frame-vertical" aria-hidden="true"></span>
        <span class="icon-class">i-table-frame-vertical</span>
      </li>
    
      <li>
        <span class="i-table-top-left-corner-rounded" aria-hidden="true"></span>
        <span class="icon-class">i-table-top-left-corner-rounded</span>
      </li>
    
      <li>
        <span class="i-table-top-right-corner-rounded" aria-hidden="true"></span>
        <span class="icon-class">i-table-top-right-corner-rounded</span>
      </li>
    
  </ul>
</div>
