---
title: Extras // Colorgy Styleguide
layout: styleguide_docs
page_name: extras
page_description: 更多為特定目的製作的組件以及結構。
---

%h2#structures 4.1. 佈局結構

%h3#mobile-slide 4.1.1. 行動滑動選單

= link_to '行動滑動選單範例', '/demo/mobile_slide.html', relative: true, target: '_blank'
