---
title: Extras // Colorgy Styleguide
layout: styleguide_content
page_name: extras
page_description: 更多為特定目的製作的組件。
---

.row
  .col-md-9.main

    %h2#h4 4.1

  .col-md-3.hidden-sm.hidden-xs.styleguide-doc-nav-container
    = partial :styleguide_doc_nav
