---
title: Globals // Colorgy Styleguide
layout: styleguide_content
page_name: globals
page_description: 標幟、色彩、字型和排版等泛用樣式的定義。
---

.row
  .col-md-9.main

    %h2#h1 1.1

  .col-md-3.hidden-sm.hidden-xs.styleguide-doc-nav-container
    = partial :styleguide_doc_nav

