---
title: Layouts // Colorgy Styleguide
layout: styleguide_docs
page_name: layouts
page_description: 頁面佈局，繫結在頁面上的模組，以及結構。
---

%h2#header 2.1. Header

%h2#hero 2.2. Hero

%h2#hero 2.3. Footer

%h2#hero 2.4. Content
