// *************************************
//
//   Base
//   -> Tag-level settings
//
// *************************************

@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/tables";
@import "bootstrap/forms";

html,
body,
.wrapper {
	width: 100%;
	height: 100%;
	background-color: $white;
}

::-moz-selection {
    background: rgba($brand-primary, .3);
}

::selection {
    background: rgba($brand-primary, .3);
}
