// *************************************
//
//   Fonts
//   -> font-face and icon font tools
//
// *************************************

@import "bootstrap/glyphicons";
@import "fonts_colorgy_icons";

$icon-font-path: if($clg-sass-asset-helper, "colorgy/", "../fonts/colorgy/") !default;
$import-icon-font-name: 'fontawesome-webfont';
@font-face {
	font-family: 'FontAwesome';
	src: url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.eot'), '#{$icon-font-path}#{$import-icon-font-name}.eot'));
	src: url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.eot?#iefix'), '#{$icon-font-path}#{$import-icon-font-name}.eot?#iefix')) format('embedded-opentype'),
	url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.woff'), '#{$icon-font-path}#{$import-icon-font-name}.woff')) format('woff'),
	url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.woff'), '#{$icon-font-path}#{$import-icon-font-name}.woff2')) format('woff2'),
	url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.ttf'), '#{$icon-font-path}#{$import-icon-font-name}.ttf')) format('truetype'),
	url(if($clg-sass-asset-helper, clg-font-path('#{$icon-font-path}#{$import-icon-font-name}.svg##{$icon-font-svg-id}'), '#{$icon-font-path}#{$import-icon-font-name}.svg##{$icon-font-svg-id}')) format('svg');
}

.i-icon {
	font-family: 'colorgy-icons', 'Glyphicons Halflings', 'FontAwesome', $font-family-base !important;
}
