// *************************************
//
//   Helpers
//
// *************************************

@import "bootstrap/mixins";

// ----- Foreground Color ----- //

@function foreground-color($color) {
	@return contrast-color($color, $base-dark-color, $base-light-color, 60%);
}

// ----- z-index of ----- //

@mixin z-index-of($element, $elements: $z-index-elements, $base: 10) {
	$index: index($elements, $element);
	$base-index: index($elements, base);
	@if $base-index == false { $base-index: 0; }
	@if $index == false {
		@warn "Can't find item "#{$element}" in $z-index-elements, please choose one of: #{$elements}.";
	} @else {
		z-index: index($elements, $element) + $base - $base-index;
	}
}

// ----- user-select: none; ----- //

@mixin not-selectable() {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

@mixin selectable() {
	-webkit-user-select: auto;
	   -moz-user-select: auto;
	    -ms-user-select: auto;
	     -o-user-select: auto;
	        user-select: auto;
}
