---
title: Mobile Slide Demo // Colorgy Styleguide
---

.mobile-slide.bg-blue
.mobile-slide-second.bg-green

%a.mobile-slide-trigger-button Trigger Button
%a.mobile-slide-second-trigger-button Second Level Trigger Button
