// *************************************
//
//   Card
//
//   Styleguide Card
//
// *************************************

$card-padding-vertical:           $box-padding-base-vertical !default;
$card-padding-horizontal:         $box-padding-base-horizontal !default;
$card-compact-padding-vertical:   $box-padding-compact-vertical !default;
$card-compact-padding-horizontal: $box-padding-compact-horizontal !default;

.card {
	padding: $card-padding-horizontal $card-padding-vertical;

	.card-content,
	.card-action,
	.card-image {
		margin: (-$card-padding-horizontal) (-$card-padding-vertical);
		padding: $card-padding-horizontal $card-padding-vertical;
	}

	.card-title {
		margin-top: 0;
	}

	&.compact {
		padding: $card-compact-padding-horizontal $card-compact-padding-vertical;

		.card-content,
		.card-action,
		.card-image {
			margin: (-$card-compact-padding-horizontal) (-$card-compact-padding-vertical);
			padding: $card-compact-padding-horizontal $card-compact-padding-vertical;
		}
	}
}
