// *************************************
//
// Navbars.
//
// .default          - Default style.
// .inverse          - Inverted.
// .minimal          - Minimal style.
// .minimal.inverse  - Minimal style with inverted color.
//
// Styleguide Navbar.
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-logo-padding-vertical:     4px !default;
$navbar-collapse-max-height:       340px !default;

$navbar-expanded-height:           90px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

$navbar-transition-duration:       .3s;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         #222 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-light, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;

// -------------------------------------
//   Wrapper and base class
// -------------------------------------
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
	position: relative;
	min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
	margin-bottom: $navbar-margin-bottom;
	border: 1px solid transparent;

	// Prevent floats from breaking the navbar
	@include clearfix;

	@media (min-width: $grid-float-breakpoint) {
		border-radius: $navbar-border-radius;
	}

	-webkit-transition: background $navbar-transition-duration ease-in-out,
											border-color $navbar-transition-duration ease-in-out,
											padding $navbar-transition-duration ease-in-out;
		 -moz-transition: background $navbar-transition-duration ease-in-out,
											border-color $navbar-transition-duration ease-in-out,
											padding $navbar-transition-duration ease-in-out;
					transition: background $navbar-transition-duration ease-in-out,
											border-color $navbar-transition-duration ease-in-out,
											padding $navbar-transition-duration ease-in-out;

	// Navbar alignment options
	//
	// Display the navbar across the entirety of the page or fixed it to the top or
	// bottom of the page.

	// Static top (unfixed, but 100% wide) navbar
	&.static-top {
		z-index: $zindex-navbar;
		border-width: 0 0 1px;

		@media (min-width: $grid-float-breakpoint) {
			border-radius: 0;
		}
	}

	// Fix the top/bottom navbars when screen real estate supports it
	&.fixed-top,
	&.fixed-bottom {
		position: fixed;
		right: 0;
		left: 0;
		z-index: $zindex-navbar-fixed;

		// Undo the rounded corners
		@media (min-width: $grid-float-breakpoint) {
			border-radius: 0;
		}
	}

	&.fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	&.fixed-bottom {
		bottom: 0;
		margin-bottom: 0; // override .navbar defaults
		border-width: 1px 0 0;
	}
}

// -------------------------------------
//   Navbar Content
// -------------------------------------

// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
	@include clearfix;

	@media (min-width: $grid-float-breakpoint) {
		float: left;
	}

	-webkit-transition: margin $navbar-transition-duration ease-in-out;
		 -moz-transition: margin $navbar-transition-duration ease-in-out;
					transition: margin $navbar-transition-duration ease-in-out;
}

// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
	overflow-x: visible;
	padding-right: $navbar-padding-horizontal;
	padding-left:  $navbar-padding-horizontal;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	@include clearfix;
	-webkit-overflow-scrolling: touch;

	&.in {
		overflow-y: auto;
	}

	.navbar-fixed-top &,
	.navbar-fixed-bottom & {
		max-height: $navbar-collapse-max-height;

		@media (max-device-width: $screen-xs-min) and (orientation: landscape) {
			max-height: 200px;
		}
	}

	@media (min-width: $grid-float-breakpoint) {
		width: auto;
		border-top: 0;
		box-shadow: none;

		&.collapse {
			display: block !important;
			height: auto !important;
			padding-bottom: 0; // Override default setting
			overflow: visible !important;
		}

		&.in {
			overflow-y: visible;
		}

		// Undo the collapse side padding for navbars with containers to ensure
		// alignment of right-aligned contents.
		.navbar-fixed-top &,
		.navbar-static-top &,
		.navbar-fixed-bottom & {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container,
.container-fluid {
	> .navbar-header,
	> .navbar-collapse {
		margin-right: -$navbar-padding-horizontal;
		margin-left:  -$navbar-padding-horizontal;

		@media (min-width: $grid-float-breakpoint) {
			margin-right: 0;
			margin-left:  0;
		}
	}
}

// Brand name

.navbar-brand {
	float: left;
	padding: $navbar-padding-vertical $navbar-padding-horizontal;
	font-size: $font-size-large;
	line-height: $line-height-computed;
	height: $navbar-height;

	-webkit-transition: all $navbar-transition-duration ease-in-out;
		 -moz-transition: all $navbar-transition-duration ease-in-out;
					transition: all $navbar-transition-duration ease-in-out;

	&:hover,
	&:focus {
		text-decoration: none;
	}

	> img {
		display: block;
		max-height: 100%;
	}

	&.has-image {
		padding-top: $navbar-logo-padding-vertical;
		padding-bottom: $navbar-logo-padding-vertical;
	}

	@media (min-width: $grid-float-breakpoint) {
		.navbar > .container &,
		.navbar > .container-fluid & {
			margin-left: -$navbar-padding-horizontal;
		}
	}
}

// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: $navbar-padding-horizontal;
	padding: 9px 10px;
	@include navbar-vertical-align(34px);
	background-color: transparent;
	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	border: 1px solid transparent;
	border-radius: $border-radius-base;

	// We remove the `outline` here, but later compensate by attaching `:hover`
	// styles to `:focus`.
	&:focus {
		outline: 0;
	}

	// Bars
	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}

	@media (min-width: $grid-float-breakpoint) {
		display: none;
	}
}

// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
	margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

	> li > a {
		padding-top:    10px;
		padding-bottom: 10px;
		line-height: $line-height-computed;
	}

	@media (max-width: $grid-float-breakpoint-max) {
		// Dropdowns get custom display when collapsed
		.open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			box-shadow: none;
			> li > a,
			.dropdown-header {
				padding: 5px 15px 5px 25px;
			}
			> li > a {
				line-height: $line-height-computed;
				&:hover,
				&:focus {
					background-image: none;
				}
			}
		}
	}

	// Uncollapse the nav
	@media (min-width: $grid-float-breakpoint) {
		float: left;
		margin: 0;

		> li {
			float: left;
			> a {
				padding-top:    $navbar-padding-vertical;
				padding-bottom: $navbar-padding-vertical;
			}
		}
	}
}

// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.navbar-form {
	margin-left: -$navbar-padding-horizontal;
	margin-right: -$navbar-padding-horizontal;
	padding: 10px $navbar-padding-horizontal;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	$shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	@include box-shadow($shadow);

	// Mixin behavior for optimum display
	// @include form-inline;

	.form-group {
		@media (max-width: $grid-float-breakpoint-max) {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Vertically center in expanded, horizontal navbar
	@include navbar-vertical-align($height-base);

	// Undo 100% width for pull classes
	@media (min-width: $grid-float-breakpoint) {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		@include box-shadow(none);
	}
}

// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	@include border-top-radius(0);
}

// Menu position and menu caret support for dropups via extra dropup class
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
	@include border-top-radius($navbar-border-radius);
	@include border-bottom-radius(0);
}

// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).

.navbar-btn {
	@include navbar-vertical-align($height-base);

	&.btn-sm {
		@include navbar-vertical-align($height-small);
	}
	&.btn-xs {
		@include navbar-vertical-align(22);
	}
}

// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.

.navbar-text {
	@include navbar-vertical-align($line-height-computed);

	@media (min-width: $grid-float-breakpoint) {
		float: left;
		margin-left: $navbar-padding-horizontal;
		margin-right: $navbar-padding-horizontal;
	}
}

// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specificity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.
//
// Declared after the navbar components to ensure more specificity on the margins.

@media (min-width: $grid-float-breakpoint) {

	.navbar-left {
		float: left !important;
	}

	.navbar-right {
		float: right !important;
		margin-right: -$navbar-padding-horizontal;

		~ .navbar-right {
			margin-right: 0;
		}
	}
}

// -------------------------------------
//   Navbar themes
// -------------------------------------

.navbar {

	&,
	&.default {
		background-color: $navbar-default-bg;
		border-color: $navbar-default-border;

		.navbar-brand {
			color: $navbar-default-brand-color;

			&:hover,
			&:focus {
				color: $navbar-default-brand-hover-color;
				background-color: $navbar-default-brand-hover-bg;
			}
		}

		.navbar-text {
			color: $navbar-default-color;
		}

		.navbar-nav {

			> li > a {
				color: $navbar-default-link-color;

				&:hover,
				&:focus {
					color: $navbar-default-link-hover-color;
					background-color: $navbar-default-link-hover-bg;
				}
			}

			> .active > a {

				&,
				&:hover,
				&:focus {
					color: $navbar-default-link-active-color;
					background-color: $navbar-default-link-active-bg;
				}
			}

			> .disabled > a {

				&,
				&:hover,
				&:focus {
					color: $navbar-default-link-disabled-color;
					background-color: $navbar-default-link-disabled-bg;
				}
			}
		}

		.navbar-toggle {
			border-color: $navbar-default-toggle-border-color;

			&:hover,
			&:focus {
				background-color: $navbar-default-toggle-hover-bg;
			}

			.icon-bar {
				background-color: $navbar-default-toggle-icon-bar-bg;
			}
		}

		.navbar-collapse,
		.navbar-form {
			border-color: $navbar-default-border;
		}

		// Dropdown menu items
		.navbar-nav {

			// Remove background color from open dropdown
			> .open > a {

				&,
				&:hover,
				&:focus {
					background-color: $navbar-default-link-active-bg;
					color: $navbar-default-link-active-color;
				}
			}

			@media (max-width: $grid-float-breakpoint-max) {

				// Dropdowns get custom display when collapsed
				.open .dropdown-menu {

					> li > a {
						color: $navbar-default-link-color;
						&:hover,
						&:focus {
							color: $navbar-default-link-hover-color;
							background-color: $navbar-default-link-hover-bg;
						}
					}

					> .active > a {

						&,
						&:hover,
						&:focus {
							color: $navbar-default-link-active-color;
							background-color: $navbar-default-link-active-bg;
						}
					}

					> .disabled > a {

						&,
						&:hover,
						&:focus {
							color: $navbar-default-link-disabled-color;
							background-color: $navbar-default-link-disabled-bg;
						}
					}
				}
			}
		}

		// Links in navbars
		//
		// Add a class to ensure links outside the navbar nav are colored correctly.

		.navbar-link {
			color: $navbar-default-link-color;

			&:hover {
				color: $navbar-default-link-hover-color;
			}
		}

		.btn-link {
			color: $navbar-default-link-color;

			&:hover,
			&:focus {
				color: $navbar-default-link-hover-color;
			}

			&[disabled],
			fieldset[disabled] & {
				&:hover,
				&:focus {
					color: $navbar-default-link-disabled-color;
				}
			}
		}
	}

	// Inverse navbar

	&.inverse {
		background-color: $navbar-inverse-bg;
		border-color: $navbar-inverse-border;

		.navbar-brand {
			color: $navbar-inverse-brand-color;

			&:hover,
			&:focus {
				color: $navbar-inverse-brand-hover-color;
				background-color: $navbar-inverse-brand-hover-bg;
			}
		}

		.navbar-text {
			color: $navbar-inverse-color;
		}

		.navbar-nav {
			> li > a {
				color: $navbar-inverse-link-color;

				&:hover,
				&:focus {
					color: $navbar-inverse-link-hover-color;
					background-color: $navbar-inverse-link-hover-bg;
				}
			}

			> .active > a {

				&,
				&:hover,
				&:focus {
					color: $navbar-inverse-link-active-color;
					background-color: $navbar-inverse-link-active-bg;
				}
			}

			> .disabled > a {

				&,
				&:hover,
				&:focus {
					color: $navbar-inverse-link-disabled-color;
					background-color: $navbar-inverse-link-disabled-bg;
				}
			}
		}

		// Darken the responsive nav toggle
		.navbar-toggle {
			border-color: $navbar-inverse-toggle-border-color;

			&:hover,
			&:focus {
				background-color: $navbar-inverse-toggle-hover-bg;
			}

			.icon-bar {
				background-color: $navbar-inverse-toggle-icon-bar-bg;
			}
		}

		.navbar-collapse,
		.navbar-form {
			border-color: darken($navbar-inverse-bg, 7%);
		}

		// Dropdowns
		.navbar-nav {

			> .open > a {

				&,
				&:hover,
				&:focus {
					background-color: $navbar-inverse-link-active-bg;
					color: $navbar-inverse-link-active-color;
				}
			}

			@media (max-width: $grid-float-breakpoint-max) {

				// Dropdowns get custom display
				.open .dropdown-menu {

					> .dropdown-header {
						border-color: $navbar-inverse-border;
					}

					.divider {
						background-color: $navbar-inverse-border;
					}

					> li > a {
						color: $navbar-inverse-link-color;

						&:hover,
						&:focus {
							color: $navbar-inverse-link-hover-color;
							background-color: $navbar-inverse-link-hover-bg;
						}
					}

					> .active > a {

						&,
						&:hover,
						&:focus {
							color: $navbar-inverse-link-active-color;
							background-color: $navbar-inverse-link-active-bg;
						}
					}

					> .disabled > a {

						&,
						&:hover,
						&:focus {
							color: $navbar-inverse-link-disabled-color;
							background-color: $navbar-inverse-link-disabled-bg;
						}
					}
				}
			}
		}

		.navbar-link {
			color: $navbar-inverse-link-color;

			&:hover {
				color: $navbar-inverse-link-hover-color;
			}
		}

		.btn-link {
			color: $navbar-inverse-link-color;

			&:hover,
			&:focus {
				color: $navbar-inverse-link-hover-color;
			}

			&[disabled],
			fieldset[disabled] & {
				&:hover,
				&:focus {
					color: $navbar-inverse-link-disabled-color;
				}
			}
		}
	}

	// Minimal style navbar

	&.minimal {
		background-color: rgba($navbar-default-bg, .8);
		border-color: rgba($navbar-inverse-border, .2);

		.navbar-nav {

			> li > a {
				-webkit-transition: background .24s ease-in-out;
					 -moz-transition: background .24s ease-in-out;
								transition: background .24s ease-in-out;
			}

			> li > a,
			> .disabled > a {

				&:hover,
				&:focus {
					background-color: rgba(darken($white, 20%), .2);
				}
			}

			> .active > a,
			> .open > a {

				&,
				&:hover,
				&:focus {
					background-color: rgba(darken($white, 20%), .2);
				}
			}
		}

		.navbar-toggle {
			padding: 9px 10px;
			font-size: 16px;
			color: $white;
			border: 0;

			&:focus,
			&:active {
				outline: 0;
			}
		}

		.navbar-collapse,
		.navbar-form {
			border-color: rgba($navbar-default-border, .5);
		}
	}

	&.minimal.inverse {
		background-color: rgba($navbar-inverse-bg, .8);
		border-color: rgba($navbar-default-border, .2);
		color: $white;

		.navbar-brand,
		.navbar-text,
		.navbar-nav,
		.navbar-link,
		.btn-link {

			&,
			&:hover,
			&:focus {
				color: $white;
			}
		}

		.navbar-nav {

			> li > a,
			> .active > a {

				&,
				&:hover,
				&:focus {
					color: $white;
				}
			}
		}

		.navbar-collapse,
		.navbar-form {
			border-color: rgba($navbar-default-border, .2);
			-webkit-box-shadow: none;
							box-shadow: none;
		}
	}

	// Expanded (Bigger) nav

	&.expanded {
		$navbar-expanded-padding: ($navbar-expanded-height - $navbar-height) / 2;
		padding-top: $navbar-expanded-padding;
		padding-bottom: $navbar-expanded-padding;

		@media (min-width: $grid-float-breakpoint) {

			.navbar-brand {
				margin-top: -$navbar-expanded-padding;
				margin-bottom: -$navbar-expanded-padding;
				height: $navbar-expanded-height;
				line-height: $navbar-expanded-height - $navbar-padding-vertical * 2;

				&.has-image {
					padding-top: $navbar-logo-padding-vertical * 1.2;
					padding-bottom: $navbar-logo-padding-vertical * 1.2;
				}
			}
		}

		@media (max-width: $grid-float-breakpoint-max) {

			.navbar-header {
				margin-top: -($navbar-expanded-padding / 2);
				margin-bottom: ($navbar-expanded-padding / 2);
			}

			// .navbar-brand {
			// 	margin-top: 0;
			// 	margin-bottom: 0;
			// 	height: $navbar-height;
			// 	line-height: $navbar-height - $navbar-padding-vertical * 2;

			// 	&.has-image {
			// 		padding-top: $navbar-logo-padding-vertical * 1.2;
			// 		padding-bottom: $navbar-logo-padding-vertical * 1.2;
			// 	}
			// }
		}
	}

	// Transparent (no background) nav

	&.transparent,
	&.transparent.inverse {
		background-color: transparent;
		border-color: transparent;
	}
}
