@mixin button-variant($color, $background-color, $color-hover, $background-color-hover, $color-active, $background-color-active, $border) {
	color: $color;
	background-color: $background-color;
	border: $border;

	&:focus,
	&.focus {
		color: $color-hover;
		background-color: $background-color-hover;
	}

	&:hover {
		color: $color-hover;
		background-color: $background-color-hover;
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		color: $color-active;
		background-color: $background-color-active;

		&:hover,
		&:focus,
		&.focus {
			color: $color-active;
			background-color: $background-color-active;
		}
	}

	&:active,
	&.active,
	.open > &.dropdown-toggle {
		background-image: none;
	}

	.badge {
	}
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}
